@charset "utf-8";

// Import a Google Font(Raleway
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// Set your brand colors
$green: #d5f5b6;
$blue: #b5ebf4;
$brown: #757763;
$charcoal: #4c4c4c;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Raleway', sans-serif;
$dark: $charcoal;
$light: $beige-lighter;
$primary: $green;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;



// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: $beige-lighter;
$title-color: $charcoal;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";